body {
  background-color: #4B4E6D;
  text-align: center;
  color: pink;
font-family: outline;
   
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: hotpink;

}


#myCanvas {
  background-image: url("https://images.stockcake.com/public/3/1/1/311bc61a-612a-4c2e-860c-fdcfb7a82848_large/city-night-reflection-stockcake.jpg"
  );
  background-size: 400px;
  border-radius: 30px;
  border: 3px solid rgb(155,355,255);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}


@font-face
{ font-family: outline;
src: url(https://cdn.glitch.global/9305ce58-1668-4edf-b9f4-9325a45cead2/Waffle%20Cake.otf?v=1737146187306)
}

h1:hover {
  opacity:1;
    background-color: lavender;
}

h2:hover{opacity:2; background-color:#488286;}  
h3:hover {opacity:1; background-color:#4B4E6D;}
ol:hover {opacity:2; background-color:#305252;}